attached_assets/NGFW_-_Door_knocking_attacks_1753026597866.yml
id: 05aa033d-b202-47ad-8507-05b22de457f6
version: 9
vcShouldKeepItemLegacyProdMachine: false
name: NGFW - Door knocking attacks
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: b0cee440-5ad9-4aed-8465-c891c7a06f60
    type: start
    task:
      id: b0cee440-5ad9-4aed-8465-c891c7a06f60
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "8"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 73e0334d-a9a1-40c1-89e1-7c30c1988736
    type: regular
    task:
      id: 73e0334d-a9a1-40c1-89e1-7c30c1988736
      version: -1
      name: Close open alert (Known issue)
      description: commands.local.cmd.set.alert.status
      script: Builtin|||setAlertStatus
      type: regular
      iscommand: true
      brand: Builtin
    scriptarguments:
      status:
        simple: Resolved - Known Issue
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 150,
          "y": 1020
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: 9798369e-5385-43c5-8e32-716c917ac339
    type: regular
    task:
      id: 9798369e-5385-43c5-8e32-716c917ac339
      version: -1
      name: Add comment to alert
      description: commands.local.cmd.set.incident
      script: Builtin|||setAlert
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      comment:
        simple: "This alert is being generated by an outside address that was attempting
          to access an internal resource but the action of the NGFW was set to block
          for this attempt.\n\nThis attack occurred from an known malicious IP address.
          \n\nAdding this IP address to an EDL should be considered."
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 150,
          "y": 850
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: d8f76f71-7d6c-478e-8ff3-23f6dca461ee
    type: condition
    task:
      id: d8f76f71-7d6c-478e-8ff3-23f6dca461ee
      version: -1
      name: IsMaliciousIndicatorFound
      description: Checks if the investigation found any malicious indicators (file,
        URL, IP address, domain, or email). Returns "yes" if at least one malicious
        indicator is found.
      scriptName: IsMaliciousIndicatorFound
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "6"
      "yes":
      - "3"
    scriptarguments:
      includeManual:
        simple: "yes"
      includeSuspicious:
        simple: "yes"
      queryIndicators:
        simple: "yes"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 560
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: e65b6ca6-8766-4ded-847d-bf366f5c89bc
    type: regular
    task:
      id: e65b6ca6-8766-4ded-847d-bf366f5c89bc
      version: -1
      name: Add comment to alert (Non-Malicious)
      description: commands.local.cmd.set.incident
      script: Builtin|||setAlert
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "7"
    scriptarguments:
      comment:
        simple: "This alert was created by an external IP that was attempting to access
          internal resources via a known attack path but the NGFW blocked this attempt.
          \n\nThe indicators were not part of a previously known malicious list prior
          to this event."
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 680,
          "y": 850
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: b5234c52-dc18-4d03-83dc-e7190be41e31
    type: regular
    task:
      id: b5234c52-dc18-4d03-83dc-e7190be41e31
      version: -1
      name: Close open alert (Known issue)
      description: commands.local.cmd.set.alert.status
      script: Builtin|||setAlertStatus
      type: regular
      iscommand: true
      brand: Builtin
    scriptarguments:
      status:
        simple: Resolved - Known Issue
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 680,
          "y": 1030
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: 37c6ad3e-9cfe-4cfe-8497-205dea05ae11
    type: playbook
    task:
      id: 37c6ad3e-9cfe-4cfe-8497-205dea05ae11
      version: -1
      name: NGFW Scan
      description: |-
        This playbook handles external and internal scanning alerts.

        **Attacker's Goals:**

        Adversaries may attempt to get a listing of services running on remote hosts, including those that may be vulnerable to remote software exploitation. Methods to acquire this information include port scans and vulnerability scans using tools that are brought onto a system.

        **Investigative Actions:**

        Investigate the scanner IP address using:

        * IP enrichment:
        * NGFW Internal Scan playbook
        * Endpoint Investigation Plan playbook
        * Entity enrichment

        **Response Actions**

        The playbook's response actions are based on the initial data provided within the alert. In that phase, the playbook will execute:

        * Automatically block IP address
        * Report IP address (If configured as true in the playbook inputs)

        When the playbook executes, it checks for additional activity using the Endpoint Investigation Plan playbook, and another phase, which includes the Containment Plan playbook, is executed.
        This phase will execute the following containment actions:

        * Automatically isolate involved endpoint
        * Manual block indicators
        * Manual file quarantine
        * Manual disable user

        **External resources:**

        [Mitre technique T1046 - Network Service Scanning](https://attack.mitre.org/techniques/T1046/)

        [Port Scan](https://docs-cortex.paloaltonetworks.com/r/Cortex-XDR-Analytics-Alert-Reference/Port-Scan)
      playbookName: NGFW Scan
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "5"
    scriptarguments:
      AutoCloseAlert:
        simple: "False"
      AutoContainment:
        simple: "false"
      AutoRecovery:
        simple: "false"
      CommentToAdd:
        simple: '${alert.name}. Alert ID: ${alert.id}'
      HostAutoContainment:
        simple: "false"
      ShouldOpenTicket:
        simple: "False"
      UserVerification:
        simple: "false"
      ZendeskSubject:
        simple: XSIAM Incident ID - ${parentIncidentFields.incident_id}
      addCommentPerEndpoint:
        simple: "True"
      blockKnownScanner:
        simple: "false"
      description:
        simple: ${parentIncidentFields.description}. ${parentIncidentFields.xdr_url}
      reportIPAddress:
        simple: "false"
      scannerIP:
        complex:
          root: alert
          accessor: localip
      serviceNowShortDescription:
        simple: XSIAM Incident ID - ${parentIncidentFields.incident_id}
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 450,
          "y": 300
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1075,
        "width": 910,
        "x": 150,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
quiet: true
