attached_assets/PC_-_Large_Upload_Alert_1753026597866.yml
id: 87030f1f-ccdf-4f03-8e10-0bfdba337419
version: 8
contentitemexportablefields:
  contentitemfields:
    packID: ""
    packName: Core - Investigation and Response
    itemVersion: 3.0.28
    fromServerVersion: 6.10.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
vcShouldKeepItemLegacyProdMachine: false
name: PC - Large Upload Alert
description: "The playbook investigates Cortex XDR alerts involving large upload alerts.
  \nThe playbook consists of the following procedures:\n- Searches for similar previous
  alerts that were closed as false positives.\n- Enrichment and investigation of the
  initiator and destination hostname and IP address.\n- Enrichment and investigation
  of the initiator user, process, file, or command if it exists.\n- Detection of related
  indicators and analysis of the relationship between the detected indicators.\n-
  Utilize the detected indicators to conduct threat hunting.\n- Blocks detected malicious
  indicators.\n- Endpoint isolation.\nThis playbook supports the following Cortex
  XDR alert names:\n- Large Upload (Generic)\n- Large Upload (SMTP)\n- Large Upload
  (FTP)\n- Large Upload (HTTPS)"
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: a69211d4-9c3a-4b33-86ef-cf93bdc00d2a
    type: start
    task:
      id: a69211d4-9c3a-4b33-86ef-cf93bdc00d2a
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 40
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: 95e8592f-d754-4518-8f6d-e9e81d0ff069
    type: title
    task:
      id: 95e8592f-d754-4518-8f6d-e9e81d0ff069
      version: -1
      name: Check Previous Similar Alerts
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "2"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: e5c0b598-9f05-4861-8c44-b8daa9f2f662
    type: regular
    task:
      id: e5c0b598-9f05-4861-8c44-b8daa9f2f662
      version: -1
      name: Find Similar Alerts
      description: Find past similar alerts based on alert fields' similarity. Includes
        an option to also display indicators similarity.
      scriptName: DBotFindSimilarAlerts
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "3"
    scriptarguments:
      fieldExactMatch:
        simple: alert.name,alert.rawName
      fieldsToDisplay:
        simple: ${alert.closeNotes}
      fromDate:
        simple: 2 months ago
      minimunIncidentSimilarity:
        simple: "0.8"
      query:
        simple: status:closed -closeReason:New -closeReason:Under Investigation -closeReason:Resolved
          - True Positive
      similarCategoricalField:
        simple: alert.appid,alert.remoteport,alert.initiatorsha256,alert.cgosha256,alert.osparentsha256
      similarTextField:
        simple: alert.initiatedby,alert.remoteport,alert.initiatorcmd,alert.osparentcmd,alert.remoteip,alert.remotehost,alert.cgocmd,alert.cgosha256,alert.osparentsha256,alert.username,alert.initiatorsha256,alert.cgoname,alert.osparentname
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 340
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: true
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: 76ac319f-3c19-4467-8cda-c2127ef7d67b
    type: condition
    task:
      id: 76ac319f-3c19-4467-8cda-c2127ef7d67b
      version: -1
      name: Found Results?
      description: Determine if previous false positive alerts have been detected
        with similar characteristics.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "6"
      "yes":
      - "4"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: isSimilarIncidentFound
            iscontext: true
          right:
            value:
              simple: "true"
          ignorecase: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 515
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: 955960c1-2164-4e33-8131-51160e078c83
    type: condition
    task:
      id: 955960c1-2164-4e33-8131-51160e078c83
      version: -1
      name: Investigation Should be Continued?
      description: Determines whether an alert requires further investigation if similar
        previous false positive alerts were found.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "56"
      "yes":
      - "5"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.FurtherInvestigation
            iscontext: true
          right:
            value:
              simple: "True"
          ignorecase: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 690
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: 4f79969f-01ad-4944-8104-d1a27df9fc57
    type: condition
    task:
      id: 4f79969f-01ad-4944-8104-d1a27df9fc57
      version: -1
      name: Alert Investigation Should Continue?
      description: |-
        The playbook detected similar alerts that were closed as false positives previously.

        Review the alert details and similar closed false positive alerts to determine whether this Cortex XDR alert should be further investigated.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "56"
      "Yes":
      - "6"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 865
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: 545f801e-6dd2-4b5f-8d92-087803a6abfc
    type: title
    task:
      id: 545f801e-6dd2-4b5f-8d92-087803a6abfc
      version: -1
      name: Enrichment
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "8"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 602.5,
          "y": 1055
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: 8550e2cd-0247-4b3b-86c8-d4eaa0a41cda
    type: title
    task:
      id: 8550e2cd-0247-4b3b-86c8-d4eaa0a41cda
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 387.5,
          "y": 2235
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: 7ebe1021-7e18-4a30-8be7-3574f42aeecc
    type: condition
    task:
      id: 7ebe1021-7e18-4a30-8be7-3574f42aeecc
      version: -1
      name: Check Uploaded Data Volume
      description: Determines if the amount of data uploaded to an external host exceeds
        the defined threshold amount.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "59"
      More Than Threshold:
      - "9"
    separatecontext: false
    conditions:
    - label: More Than Threshold
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: alert
                accessor: details
                transformers:
                - operator: RegexGroups
                  args:
                    flags: {}
                    groups:
                      value:
                        simple: "1"
                    keys: {}
                    regex:
                      value:
                        simple: uploaded\s(.*(MB|GB|TB))
            iscontext: true
          right:
            value:
              simple: GB
          ignorecase: true
        - operator: isEqualString
          left:
            value:
              complex:
                root: alert
                accessor: details
                transformers:
                - operator: RegexGroups
                  args:
                    flags: {}
                    groups:
                      value:
                        simple: "1"
                    keys: {}
                    regex:
                      value:
                        simple: uploaded\s(.*(MB|GB|TB))
            iscontext: true
          right:
            value:
              simple: TB
          ignorecase: true
        - operator: greaterThanOrEqual
          left:
            value:
              complex:
                root: alert
                accessor: details
                transformers:
                - operator: RegexGroups
                  args:
                    flags: {}
                    groups:
                      value:
                        simple: "0"
                    keys: {}
                    regex:
                      value:
                        simple: uploaded\s(.*(MB|GB|TB))
                - operator: StripChars
                  args:
                    chars:
                      value:
                        simple: MB
                - operator: RegexGroups
                  args:
                    flags: {}
                    groups:
                      value:
                        simple: "0"
                    keys: {}
                    regex:
                      value:
                        simple: (\d+)\.
            iscontext: true
          right:
            value:
              simple: inputs.Transferred_Data _Threshold
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 602.5,
          "y": 1215
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: 37c0bc43-215f-4ab6-86b9-06fd7f80a955
    type: playbook
    task:
      id: 37c0bc43-215f-4ab6-86b9-06fd7f80a955
      version: -1
      name: Entity Enrichment - Generic v3
      description: Enrich entities using one or more integrations.
      playbookName: Entity Enrichment - Generic v3
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "46"
    scriptarguments:
      Domain:
        complex:
          root: Core.OriginalAlert._all_events
          accessor: dst_action_external_hostname
          transformers:
          - operator: append
            args:
              item:
                value:
                  simple: Core.OriginalAlert._all_events.ssl_req_chello_sni_sample
                iscontext: true
          - operator: append
            args:
              item:
                value:
                  simple: Core.OriginalAlert._all_events.target_address
                iscontext: true
          - operator: append
            args:
              item:
                value:
                  simple: Core.OriginalAlert._all_events.domain
                iscontext: true
          - operator: append
            args:
              item:
                value:
                  simple: Core.OriginalAlert._all_events.action_external_hostname
                iscontext: true
          - operator: uniq
      Hostname:
        complex:
          root: alert
          accessor: hostname
          transformers:
          - operator: append
            args:
              item:
                value:
                  simple: Core.OriginalAlert._all_events.agent_hostname
                iscontext: true
          - operator: uniq
      IP:
        complex:
          root: Core.OriginalAlert._all_events
          accessor: action_local_ip
          transformers:
          - operator: append
            args:
              item:
                value:
                  simple: Core.OriginalAlert._all_events.target_ip
                iscontext: true
          - operator: append
            args:
              item:
                value:
                  simple: Core.OriginalAlert._all_events.action_remote_ip
                iscontext: true
          - operator: uniq
      InternalRange:
        simple: ${inputs.InternalIPRanges}
      ResolveIP:
        simple: "True"
      SHA256:
        complex:
          root: Core.OriginalAlert._all_events
          accessor: os_actor_process_image_sha256
          transformers:
          - operator: append
            args:
              item:
                value:
                  simple: Core.OriginalAlert._all_events.actor_process_image_sha256
                iscontext: true
          - operator: append
            args:
              item:
                value:
                  simple: Core.OriginalAlert._all_events.causality_actor_process_image_sha256
                iscontext: true
          - operator: uniq
      URLSSLVerification:
        simple: "False"
      Username:
        complex:
          root: Core.OriginalAlert._all_events.causality_actor_primary_normalized_user
          accessor: username
          transformers:
          - operator: uniq
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 387.5,
          "y": 1390
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "46":
    id: "46"
    taskid: 346d7f14-a526-4602-8055-da8b43d6574c
    type: title
    task:
      id: 346d7f14-a526-4602-8055-da8b43d6574c
      version: -1
      name: Remediation
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "50"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 387.5,
          "y": 1565
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "49":
    id: "49"
    taskid: a8b4b2dd-6932-4cd8-8b70-e7fa707317b5
    type: collection
    task:
      id: a8b4b2dd-6932-4cd8-8b70-e7fa707317b5
      version: -1
      name: Manually block indicators
      description: |-
        Please block the following malicious indicators across all your security devices.
        ${IndicatorsToBlock}
      type: collection
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "58"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 387.5,
          "y": 1885
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    message:
      to:
        simple: scoleman@paloaltonetworks.com,njeon@peppermillcas.com,smuthukumarasamy@peppermillcas.com
      subject:
        simple: Manually block indicators
      body: null
      methods:
      - email
      format: ""
      bcc: null
      cc: null
      timings:
        retriescount: 2
        retriesinterval: 360
        completeafterreplies: 1
        completeafterv2: true
        completeaftersla: false
    form:
      questions:
      - id: "0"
        label: ""
        labelarg:
          simple: Please confirm if you have blocked malicious indicators by selecting
            yes. If there are none, select no.
        required: false
        gridcolumns: []
        defaultrows: []
        type: singleSelect
        options: []
        optionsarg:
        - simple: "Yes"
        - simple: "No"
        fieldassociated: ""
        placeholder: ""
        tooltip: ""
        readonly: false
      title: Manually block indicators
      description: ""
      sender: Your SOC team
      expired: false
      totalanswers: 0
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "50":
    id: "50"
    taskid: 72231857-07b4-4a70-8154-1e0e43b3fb95
    type: regular
    task:
      id: 72231857-07b4-4a70-8154-1e0e43b3fb95
      version: -1
      name: Get malicious indicators
      description: |-
        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "49"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: IndicatorsToBlock
      value:
        complex:
          root: DBotScore
          filters:
          - - operator: greaterThanOrEqual
              left:
                value:
                  simple: DBotScore.Score
                iscontext: true
              right:
                value:
                  simple: "3"
          accessor: Indicator
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 387.5,
          "y": 1710
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "56":
    id: "56"
    taskid: 49b4597e-4943-4b13-81f8-1d36cc2d3024
    type: regular
    task:
      id: 49b4597e-4943-4b13-81f8-1d36cc2d3024
      version: -1
      name: Close Alert - Resolve As a Duplicate Alert
      description: commands.local.cmd.set.alert.status
      script: Builtin|||setAlertStatus
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "7"
    scriptarguments:
      status:
        simple: Resolved - Duplicate Alert
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1040
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "58":
    id: "58"
    taskid: 14b82d71-1154-4825-8951-3782afde8f3a
    type: regular
    task:
      id: 14b82d71-1154-4825-8951-3782afde8f3a
      version: -1
      name: Close Alert - Resolve As True Positive
      description: commands.local.cmd.set.alert.status
      script: Builtin|||setAlertStatus
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "7"
    scriptarguments:
      status:
        simple: Resolved - True Positive
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 387.5,
          "y": 2060
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "59":
    id: "59"
    taskid: f2eb0f77-2a3a-432e-8f8c-830930eb85c2
    type: regular
    task:
      id: f2eb0f77-2a3a-432e-8f8c-830930eb85c2
      version: -1
      name: Close Alert - Resolve As Other
      description: commands.local.cmd.set.alert.status
      script: Builtin|||setAlertStatus
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "7"
    scriptarguments:
      status:
        simple: Resolved - Other
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 817.5,
          "y": 2060
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {
      "3_6_#default#": 0.34,
      "4_56_#default#": 0.41,
      "5_56_#default#": 0.43,
      "5_6_Yes": 0.13,
      "8_59_#default#": 0.77
    },
    "paper": {
      "dimensions": {
        "height": 2260,
        "width": 1147.5,
        "x": 50,
        "y": 40
      }
    }
  }
inputs:
- key: InternalIPRanges
  value:
    simple: ${lists.PrivateIPs}
  required: false
  description: 'A list of IP ranges to check the IP against. The list should be provided
    in CIDR notation, separated by commas. An example of a list of ranges would be:
    "172.16.0.0/12,10.0.0.0/8,192.168.0.0/16" (without quotes). If a list is not provided,
    will use default list provided in the IsIPInRanges script (the known IPv4 private
    address ranges).'
  playbookInputQuery: null
- key: Transferred_Data _Threshold
  value:
    simple: "1000"
  required: true
  description: |-
    Specify the uploaded data threshold volume (in MB) from which large upload alerts should be investigated.
    By setting a threshold, you will be able to determine which large upload alerts require investigation.
    Default value: 150 (MB).
  playbookInputQuery: null
- key: FWApps_Processes_Whitlist
  value:
    simple: ip,tcp,udp,ssl,syslog,quic,Chrome.exe,Firefox.exe,Opera.exe,Safari.exe,iexplore.exe,msedge.exe,brave.exe,vertex.zip
  required: false
  description: A list of known and authorized FW application IDs and processes used
    in the organization.
  playbookInputQuery: null
inputSections:
- inputs:
  - InternalIPRanges
  - Transferred_Data _Threshold
  - FWApps_Processes_Whitlist
  name: General (Inputs group)
  description: Generic group for inputs
outputSections:
- outputs: []
  name: General (Outputs group)
  description: Generic group for outputs
outputs: []
sourceplaybookid: Large Upload Alert
dirtyInputs: true
