attached_assets/PC_-_SSH_Brute_Force_Response_1753026597866.yml
id: 0c6a3eeb-aa62-4585-84ff-7bfb81d65d82
version: 3
vcShouldKeepItemLegacyProdMachine: false
name: PC - SSH Brute Force Response
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 33c2f693-aa4b-42ed-8c56-6da5a566d3c6
    type: start
    task:
      id: 33c2f693-aa4b-42ed-8c56-6da5a566d3c6
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "6"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 520,
          "y": -170
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: a4f07f8a-5a6b-4e23-8c31-ba597f5ec58c
    type: condition
    task:
      id: a4f07f8a-5a6b-4e23-8c31-ba597f5ec58c
      version: -1
      name: Are the ips whitelisted?
      description: Compare  two lists and put the differences in context.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "17"
      "yes":
      - "9"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: ListCompare.Both
            iscontext: true
        - operator: isNotEqualString
          left:
            value:
              simple: ListCompare.Both
            iscontext: true
          right:
            value:
              simple: "NULL"
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 520,
          "y": 440
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: a9585ebd-b0e9-4fdc-8582-861ff023292c
    type: regular
    task:
      id: a9585ebd-b0e9-4fdc-8582-861ff023292c
      version: -1
      name: Check local ip against whitelist
      description: Compare  two lists and put the differences in context.
      scriptName: CompareLists
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "14"
    scriptarguments:
      left:
        simple: ${alert.localip}
      right:
        simple: ${lists.SSH_Host_Whitelist}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 520,
          "y": 110
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: 82453e5a-97b3-4feb-88b6-2b917fde4c11
    type: regular
    task:
      id: 82453e5a-97b3-4feb-88b6-2b917fde4c11
      version: -1
      name: Close alert as false positive
      description: commands.local.cmd.close.inv
      script: Builtin|||closeInvestigation
      type: regular
      iscommand: true
      brand: Builtin
    scriptarguments:
      closeReason:
        simple: False Positive
      id:
        simple: ${alert.id}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1925
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: 40a6a9d7-2a59-4eaa-8fe0-cd61ad5c0ec5
    type: title
    task:
      id: 40a6a9d7-2a59-4eaa-8fe0-cd61ad5c0ec5
      version: -1
      name: Remediation
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "7"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -50,
          "y": 1110
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: 2771508d-ae30-4c90-87ab-333aceed5034
    type: title
    task:
      id: 2771508d-ae30-4c90-87ab-333aceed5034
      version: -1
      name: Investigation
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "3"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 520,
          "y": -25
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: f46a1e95-e326-4932-8ef1-8f7046683c2b
    type: collection
    task:
      id: f46a1e95-e326-4932-8ef1-8f7046683c2b
      version: -1
      name: 'TEST: User communication'
      type: collection
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "8"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -50,
          "y": 1245
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    message:
      to:
        simple: scoleman@paloaltonetworks.com,smuthukumarasamy@peppermillcas.com,njeon@peppermillcas.com
      subject:
        simple: Was the following action performed by you?
      body:
        simple: |-
          Hello,
          </br>
          <p></br>
          We wanted to let you know that Cortex Core has flagged a potential issue related to your recent remote SSH session activity. Specifically, we detected an uncommon SSH session attempt by the user ${alert.username.[0]} from the remote IP address ${alert.remoteip.[0]}.
          </br></p>
      methods:
      - email
      format: html
      bcc: null
      cc: null
      timings:
        retriescount: 2
        retriesinterval: 360
        completeafterreplies: 1
        completeafterv2: true
        completeaftersla: false
    form:
      questions:
      - id: "0"
        label: ""
        labelarg:
          simple: Was the following action performed by you?
        required: false
        gridcolumns: []
        defaultrows: []
        type: singleSelect
        options: []
        optionsarg:
        - simple: "Yes"
        - simple: "No"
        fieldassociated: ""
        placeholder: ""
        tooltip: ""
        readonly: false
      title: Was the following action performed by you?
      description: ""
      sender: Your SOC team
      expired: false
      totalanswers: 0
    formDisplay:
      headerbackgroundcolor: ""
      headerfontcolor: ""
      sender: ""
      bodybackgroundcolor: ""
      bodyfontcolor: ""
      submitbuttonbackgroundcolor: ""
      submitbuttonfontcolor: ""
      submittext: ""
      isexternalrtl: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: 41916edc-b802-4436-89e7-aa46c859b9a6
    type: condition
    task:
      id: 41916edc-b802-4436-89e7-aa46c859b9a6
      version: -1
      name: Authorized activity?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "9"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: Was the following action performed by you?.Answers
                accessor: "0"
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: "yes"
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -50,
          "y": 1420
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: ec057d25-d748-4d6e-8f9d-51a6e098733c
    type: title
    task:
      id: ec057d25-d748-4d6e-8f9d-51a6e098733c
      version: -1
      name: False positive
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "16"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1605
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: f9a70bc9-f0bc-41d2-851b-ecad2ce0f35e
    type: title
    task:
      id: f9a70bc9-f0bc-41d2-851b-ecad2ce0f35e
      version: -1
      name: True positive
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "11"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -60,
          "y": 1595
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: c315d15b-93eb-4cb2-8fb8-7e6ff44849c4
    type: regular
    task:
      id: c315d15b-93eb-4cb2-8fb8-7e6ff44849c4
      version: -1
      name: 'Manual task: Isolate endpoint'
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "12"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -60,
          "y": 1740
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: 0e55d04c-4bfe-432a-8718-bb9d5528c35c
    type: regular
    task:
      id: 0e55d04c-4bfe-432a-8718-bb9d5528c35c
      version: -1
      name: 'Manual task: Disable user account & reset auth sessions'
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "13"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -60,
          "y": 1915
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "13":
    id: "13"
    taskid: 4f384fb7-a07f-4f81-893d-30a4687d66c1
    type: regular
    task:
      id: 4f384fb7-a07f-4f81-893d-30a4687d66c1
      version: -1
      name: Close alert as true positive
      description: commands.local.cmd.close.inv
      script: Builtin|||closeInvestigation
      type: regular
      iscommand: true
      brand: Builtin
    scriptarguments:
      id:
        simple: ${alert.id}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -60,
          "y": 2090
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "14":
    id: "14"
    taskid: 07d3fc0c-ac00-42ea-8c0b-a1ca30e63cc7
    type: regular
    task:
      id: 07d3fc0c-ac00-42ea-8c0b-a1ca30e63cc7
      version: -1
      name: Check remote ip against whitelist
      description: Compare  two lists and put the differences in context.
      scriptName: CompareLists
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    scriptarguments:
      left:
        simple: ${alert.remoteip}
      right:
        simple: ${lists.SSH_Host_Whitelist}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 520,
          "y": 275
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "16":
    id: "16"
    taskid: aac248c3-b1df-442d-8abe-44cf93164659
    type: regular
    task:
      id: aac248c3-b1df-442d-8abe-44cf93164659
      version: -1
      name: Manual review
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "4"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1740
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "17":
    id: "17"
    taskid: 5d37d5e1-8d8d-4af1-8955-01011fe856dc
    type: condition
    task:
      id: 5d37d5e1-8d8d-4af1-8955-01011fe856dc
      version: -1
      name: Are there any usernames present in the alert details?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "18"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: alert.username
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 720,
          "y": 630
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "18":
    id: "18"
    taskid: 378ebd43-e41f-4f73-8c49-a7ed03d356b1
    type: regular
    task:
      id: 378ebd43-e41f-4f73-8c49-a7ed03d356b1
      version: -1
      name: Compare username against the whitelist
      description: Compare  two lists and put the differences in context.
      scriptName: CompareLists
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      extend-context:
        simple: usernameCompare=.
      left:
        simple: ${alert.username}
      right:
        simple: ${lists.SSH_User_Whitelist}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 720,
          "y": 780
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "19":
    id: "19"
    taskid: b99435c9-f1bf-4f57-866c-50d687437fb4
    type: condition
    task:
      id: b99435c9-f1bf-4f57-866c-50d687437fb4
      version: -1
      name: Are the usernames whitelisted?
      description: Compare  two lists and put the differences in context.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "9"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: usernameCompare.Both
            iscontext: true
          right:
            value: {}
        - operator: isNotEqualString
          left:
            value:
              simple: usernameCompare.Both
            iscontext: true
          right:
            value:
              simple: "NULL"
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 720,
          "y": 940
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 2355,
        "width": 1160,
        "x": -60,
        "y": -170
      }
    }
  }
inputs: []
outputs: []
dirtyInputs: true
