attached_assets/PC_-_CheckPointHEC_Get_email_for_alert_1753026597866.yml
id: e9acedfa-33d4-4e79-800c-efcc6b9033fb
version: 14
contentitemexportablefields:
  contentitemfields:
    packID: ""
    packName: Check Point Harmony Email and Collaboration (HEC)
    itemVersion: 1.1.3
    fromServerVersion: 6.9.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
vcShouldKeepItemLegacyProdMachine: false
name: PC - CheckPointHEC Get email for alert
description: Get email entity for a specific alert.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 2ddf1617-3bef-4dc3-8dc6-56b26003bce0
    type: start
    task:
      id: 2ddf1617-3bef-4dc3-8dc6-56b26003bce0
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 460,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: 409bb759-32c5-4271-894f-6e199bf8f880
    type: regular
    task:
      id: 409bb759-32c5-4271-894f-6e199bf8f880
      version: -1
      name: checkpointhec-get-entity
      description: Retrieve specific entity
      script: CheckPointHEC|||checkpointhec-get-entity
      type: regular
      iscommand: true
      brand: CheckPointHEC
    nexttasks:
      '#error#':
      - "8"
      '#none#':
      - "2"
    scriptarguments:
      entity:
        simple: ${alert.checkpointhecentity}
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 460,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: bfc1000c-8727-415f-8e28-a738997a024a
    type: regular
    task:
      id: bfc1000c-8727-415f-8e28-a738997a024a
      version: -1
      name: Extract Indicators
      description: commands.local.cmd.extract.indicators
      script: Builtin|||extractIndicators
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "3"
    scriptarguments:
      text:
        simple: ${CheckPointHEC.Entity.emailLinks}${CheckPointHEC.Entity.toUser}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 460,
          "y": 440
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: 18458db9-5cc0-43c5-8b8d-b8baa79a75df
    type: playbook
    task:
      id: 18458db9-5cc0-43c5-8b8d-b8baa79a75df
      version: -1
      name: URL Enrichment - Generic v2
      playbookName: URL Enrichment - Generic v2
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      Rasterize:
        simple: "True"
      URL:
        complex:
          root: ExtractedIndicators
          accessor: URL
          transformers:
          - operator: uniq
      UseReputationCommand:
        simple: "True"
      VerifyURL:
        simple: "False"
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 460,
          "y": 570
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: dd8cae81-fc3a-4207-8b0a-5d1a344ef29a
    type: playbook
    task:
      id: dd8cae81-fc3a-4207-8b0a-5d1a344ef29a
      version: -1
      name: Calculate Severity - Generic v2
      description: |-
        Calculate and assign the alert severity based on the highest returned severity level from the following calculations:

        - DBotScores of indicators
        - Critical assets
        - Email authenticity
        - Current alert severity
        - Microsoft Headers
        - Risky users (XDR)
        - Risky hosts (XDR).
      playbookName: Calculate Severity - Generic v2
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "5"
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 460,
          "y": 750
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: 463f90dc-7b0c-4a1f-8a19-7386c209c033
    type: condition
    task:
      id: 463f90dc-7b0c-4a1f-8a19-7386c209c033
      version: -1
      name: Is severity high or critical
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "7"
      "yes":
      - "6"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: greaterThanOrEqual
          left:
            value:
              simple: alert.severity
            iscontext: true
          right:
            value:
              simple: "3"
      - - operator: notContainsString
          left:
            value:
              simple: alert.state
            iscontext: true
          right:
            value:
              simple: remediated
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 460,
          "y": 960
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: 360cf4cc-18ce-46f0-8a30-4e78672bc786
    type: regular
    task:
      id: 360cf4cc-18ce-46f0-8a30-4e78672bc786
      version: -1
      name: |
        Send communication to SOC
      description: commands.server.mail.sendmail
      script: '|||send-mail'
      type: regular
      iscommand: true
      brand: ""
    scriptarguments:
      htmlBody:
        simple: |-
          <h3>Cortex XSIAM has Detected a CheckpointHEC alert that contains known suspicious Indicators</h3>
          <p><br /><strong>Alert Name:</strong> ${alert.name} <br /><strong>Alert Description:</strong> ${alert.description}&nbsp;<br /><strong>Timestamp:</strong> ${alert.timestamp}<br /><strong>Severity:</strong> ${alert.severity}&nbsp;<br /><strong>User(s):</strong> ${alert.username}&nbsp;<br /><strong>Host(s):</strong> ${alert.hostname}&nbsp;<br /><strong>Initiator Process(es):</strong> ${alert.initiatorpath}&nbsp;<br /><br />This alert is deemed suspicious, but cannot be confirmed as a 100% true positive or false positive and requires analyst oversight.&nbsp;</p>
          <p><a href="https://peppermillcas.xdr.us.paloaltonetworks.com/incident-view/alerts_and_insights?caseId=${incidentid}&action:openAlertDetails=${alert.id}">Click here to investigate this alert in XSIAM</a></p>
      subject:
        simple: Malicious Indicator Detected in CheckpointHEC alert
      to:
        simple: |-
          scoleman@paloaltonetworks.com
          njeon@peppermillcas.com
          nsanchez@peppermillcas.com
          smuthukumarasamy@peppermillcas.com
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 360,
          "y": 1220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: afab7f3d-f34b-45eb-8f87-f6e055e37834
    type: regular
    task:
      id: afab7f3d-f34b-45eb-8f87-f6e055e37834
      version: -1
      name: Close Alert as FP
      description: commands.local.cmd.close.inv
      script: Builtin|||closeInvestigation
      type: regular
      iscommand: true
      brand: Builtin
    scriptarguments:
      closeReason:
        simple: False Positive
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 850,
          "y": 1220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: b23e7c10-09eb-4a6b-812d-61fecf3d4717
    type: regular
    task:
      id: b23e7c10-09eb-4a6b-812d-61fecf3d4717
      version: -1
      name: Entity no longer available in Checkpoint HEC
      description: commands.local.cmd.close.inv
      script: Builtin|||closeInvestigation
      type: regular
      iscommand: true
      brand: Builtin
    scriptarguments:
      closeReason:
        simple: Entity not found
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 880,
          "y": 390
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1265,
        "width": 900,
        "x": 360,
        "y": 50
      }
    }
  }
inputs:
- key: entity
  value:
    simple: ${alert.checkpointhecentity}
  required: true
  description: Get email entity id from incident
  playbookInputQuery: null
outputs:
- contextPath: CheckPointHEC.Entity.subject
  description: Email subject.
  type: string
sourceplaybookid: CheckPointHEC Get email for incident
