attached_assets/SE_Summit_-_Port_scan_1753026557947.yml
id: 6105771f-4386-47fb-8450-feaca6f40e51
version: 11
vcShouldKeepItemLegacyProdMachine: false
name: SE Summit - Port scan
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 764efd85-8963-4ed8-8a0d-70b9914f2eb5
    type: start
    task:
      id: 764efd85-8963-4ed8-8a0d-70b9914f2eb5
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "3"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: 12531521-9a8c-497b-8a83-cf58c884deea
    type: playbook
    task:
      id: 12531521-9a8c-497b-8a83-cf58c884deea
      version: -1
      name: Check For Previous False Positives
      playbookName: Check For Previous False Positives
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      CloseReason:
        simple: Resolved - False Positive
      query:
        simple: localip:${alert.localip.[0]} and sourceBrand:${alert.sourceBrand}
          and name:"${alert.name}"
      threshold:
        simple: "2"
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 340
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 48a86cb4-fb02-4d3a-8d53-5bb64e94d0cd
    type: condition
    task:
      id: 48a86cb4-fb02-4d3a-8d53-5bb64e94d0cd
      version: -1
      name: Continue by Verdict
      description: Checks the verdict returned by the 'Enrichment for Verdict' playbook.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "10"
      False Positive:
      - "4"
    separatecontext: false
    conditions:
    - label: False Positive
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: PreviousVerdict
            iscontext: true
          right:
            value:
              simple: False Positive
          ignorecase: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 515
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: 6afb3add-aa7d-44d0-842f-1171463d927e
    type: title
    task:
      id: 6afb3add-aa7d-44d0-842f-1171463d927e
      version: -1
      name: Analysis
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 195
        }
      }
    note: false
    timertriggers:
    - fieldname: detectionsla
      action: start
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: 872117e2-f4e5-427b-831b-5ba6b8c479b5
    type: regular
    task:
      id: 872117e2-f4e5-427b-831b-5ba6b8c479b5
      version: -1
      name: Close alert as FP
      description: commands.local.cmd.close.inv
      script: Builtin|||closeInvestigation
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "5"
    scriptarguments:
      closeReason:
        simple: Resolved - False Positive
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1040
        }
      }
    note: false
    timertriggers:
    - fieldname: detectionsla
      action: stop
    - fieldname: remediationsla
      action: start
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: 553ccad4-0b0b-40e6-8c39-2bef4154781d
    type: title
    task:
      id: 553ccad4-0b0b-40e6-8c39-2bef4154781d
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 1565
        }
      }
    note: false
    timertriggers:
    - fieldname: remediationsla
      action: stop
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: 30cb2383-c4a8-44e1-8c23-21daef93faf7
    type: condition
    task:
      id: 30cb2383-c4a8-44e1-8c23-21daef93faf7
      version: -1
      name: 'Scan is from Public IP address '
      description: Check whether the values provided in arguments are equal. If either
        of the arguments are missing, no is returned.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "8"
      "no":
      - "9"
    separatecontext: false
    conditions:
    - label: "no"
      condition:
      - - operator: IsInCidrRanges
          left:
            value:
              simple: ${alert.localip.[0]}
            iscontext: true
          right:
            value:
              simple: 192.168.0.0/16, 10.0.0.0/8, 172.16.0.0/12
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 592.5,
          "y": 1040
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: e7ce9428-5cf1-44bd-8c6c-c0c1853f2700
    type: regular
    task:
      id: e7ce9428-5cf1-44bd-8c6c-c0c1853f2700
      version: -1
      name: Add tag to IP so it gets blocked with EDL
      description: commands.local.cmd.add.values.to.indicator.multi.select.field
      script: Builtin|||appendIndicatorField
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "12"
    scriptarguments:
      field:
        simple: tags
      fieldValue:
        simple: BlockEDL
      indicatorsValues:
        simple: ${alert.localip.[0]}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 1215
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: a3ac7df5-29f5-40d5-8ce7-789e54032b11
    type: regular
    task:
      id: a3ac7df5-29f5-40d5-8ce7-789e54032b11
      version: -1
      name: Get Endpoint information
      description: Gets a list of endpoints, according to the passed filters. If there
        are no filters, all endpoints are returned. Filtering by multiple fields will
        be concatenated using AND condition (OR is not supported). Maximum result
        set size is 100. Offset is the zero-based number of endpoint from the start
        of the result set (start by counting from 0).
      script: '|||core-get-endpoints'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "5"
    scriptarguments:
      ip_list:
        simple: ${alert.localip.[0]}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 1390
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: df45f59c-040a-4982-8ca5-27c79f617fe3
    type: regular
    task:
      id: df45f59c-040a-4982-8ca5-27c79f617fe3
      version: -1
      name: Get All Known Scanners
      description: commands.local.cmd.find.indicators
      script: Builtin|||findIndicators
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "11"
    scriptarguments:
      extend-context:
        simple: found=.value
      query:
        simple: tags:KnownScanner
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 582.5,
          "y": 690
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: 8edacde0-dd6a-4c2a-8a4c-ef4be03902b4
    type: condition
    task:
      id: 8edacde0-dd6a-4c2a-8a4c-ef4be03902b4
      version: -1
      name: 'Known Scanner '
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "7"
      "yes":
      - "4"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: inList
          left:
            value:
              simple: alert.localip.[0]
            iscontext: true
          right:
            value:
              simple: found
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 582.5,
          "y": 865
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: 73d84ef9-aac9-45a6-8410-562aa8e052da
    type: regular
    task:
      id: 73d84ef9-aac9-45a6-8410-562aa8e052da
      version: -1
      name: Close alert as TP
      description: commands.local.cmd.close.inv
      script: Builtin|||closeInvestigation
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "5"
    scriptarguments:
      closeReason:
        simple: Resolved - True Positive
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 1390
        }
      }
    note: false
    timertriggers:
    - fieldname: detectionsla
      action: stop
    - fieldname: remediationsla
      action: start
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1580,
        "width": 1137.5,
        "x": 50,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
sourceplaybookid: bf182b22-d365-44ba-83ec-5b2f704a5cc1
