attached_assets/SE_Summit__-_Local_Analysis_1753026557947.yml
id: 73e6f2c9-7283-471e-8777-2c6f1a524e00
version: 12
vcShouldKeepItemLegacyProdMachine: false
name: SE Summit  - Local Analysis
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: bc032ff3-e5a3-431e-8041-b0cf784855e9
    type: start
    task:
      id: bc032ff3-e5a3-431e-8041-b0cf784855e9
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "2"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 275,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 28a275c5-34ba-4b6d-811a-c6e7fcec7656
    type: title
    task:
      id: 28a275c5-34ba-4b6d-811a-c6e7fcec7656
      version: -1
      name: Analysis
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "15"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 275,
          "y": 195
        }
      }
    note: false
    timertriggers:
    - fieldname: detectionsla
      action: start
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: 1653ef8a-c76a-4846-8a25-73eba2902625
    type: condition
    task:
      id: 1653ef8a-c76a-4846-8a25-73eba2902625
      version: -1
      name: Continue by Verdict
      description: Checks the verdict returned by the 'Enrichment for Verdict' playbook.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "16"
      False Positive:
      - "6"
    separatecontext: false
    conditions:
    - label: False Positive
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: PreviousVerdict
            iscontext: true
          right:
            value:
              simple: False Positive
          ignorecase: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 275,
          "y": 515
        }
      }
    note: false
    timertriggers:
    - fieldname: detectionsla
      action: stop
    - fieldname: remediationsla
      action: start
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: ba58a368-54c3-4374-876d-ee730390b2ab
    type: regular
    task:
      id: ba58a368-54c3-4374-876d-ee730390b2ab
      version: -1
      name: Add hash to allowlist
      description: Adds requested files to allow list if they are not already on block
        list or allow list.
      script: '|||core-allowlist-files'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "7"
    scriptarguments:
      comment:
        simple: Allowed by automation in ${alert.id}
      hash_list:
        complex:
          root: alert.initiatorsha256
          accessor: '[0]'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 60,
          "y": 865
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: 527dfa18-3d35-4bbf-8eb1-1598d7d88b43
    type: regular
    task:
      id: 527dfa18-3d35-4bbf-8eb1-1598d7d88b43
      version: -1
      name: Close alert as FP
      description: commands.local.cmd.close.inv
      script: Builtin|||closeInvestigation
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "13"
    scriptarguments:
      closeReason:
        simple: Resolved - False Positive
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 60,
          "y": 1120
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: 517fe5d1-478a-4764-8587-159499d9527e
    type: condition
    task:
      id: 517fe5d1-478a-4764-8587-159499d9527e
      version: -1
      name: WF verdict
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "13"
      benign:
      - "12"
      malware:
      - "7"
    separatecontext: false
    conditions:
    - label: malware
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: WildFire.Verdicts.VerdictDescription
            iscontext: true
          right:
            value:
              simple: malware
    - label: benign
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: WildFire.Verdicts.VerdictDescription
            iscontext: true
          right:
            value:
              simple: bening
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 865
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: 5d3b1f2f-6f50-4e13-899d-4eb34c28f077
    type: regular
    task:
      id: 5d3b1f2f-6f50-4e13-899d-4eb34c28f077
      version: -1
      name: Close alert as TP
      description: commands.local.cmd.close.inv
      script: Builtin|||closeInvestigation
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "13"
    scriptarguments:
      closeReason:
        simple: Resolved - True Positive
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 500,
          "y": 1120
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "13":
    id: "13"
    taskid: 2defb869-5a9c-4789-8ba3-c8e1a21ef3ac
    type: title
    task:
      id: 2defb869-5a9c-4789-8ba3-c8e1a21ef3ac
      version: -1
      name: The End
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 275,
          "y": 1355
        }
      }
    note: false
    timertriggers:
    - fieldname: remediationsla
      action: stop
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "15":
    id: "15"
    taskid: 3fb1141a-1a0c-4926-8968-0bbc65ca6a02
    type: playbook
    task:
      id: 3fb1141a-1a0c-4926-8968-0bbc65ca6a02
      version: -1
      name: Check For Previous False Positives
      playbookName: Check For Previous False Positives
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "5"
    scriptarguments:
      CloseReason:
        simple: Resolved - False Positive
      query:
        simple: initiatorsha256:${alert.initiatorsha256.[0]} and sourceBrand:${alert.sourceBrand}
          and name:"${alert.name}"
      threshold:
        simple: "2"
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 275,
          "y": 340
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "16":
    id: "16"
    taskid: 0d0164ff-bbb3-4ca5-88b5-136649d4bfd5
    type: regular
    task:
      id: 0d0164ff-bbb3-4ca5-88b5-136649d4bfd5
      version: -1
      name: Get WF verdict
      description: Returns a verdict for a hash.
      script: '|||wildfire-get-verdict'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "11"
    scriptarguments:
      hash:
        simple: ${alert.initiatorsha256.[0]}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 490,
          "y": 700
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1370,
        "width": 820,
        "x": 60,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
sourceplaybookid: 5594af0f-d22b-4f47-8d98-b671c10a1b78
